<h1>Register</h1>
<form method="post" action="/users/register">
    <input name="username" placeholder="enter username" value="{{username}}" />
    <input type="password" name="password" placeholder="enter password" value="{{password}}" />
    <input id="submit" type="submit" value="REGISTER" />
</form>