<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Demo Server</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="container">
        {{> header}}
        <main>
            {{#if message}}
            <span>{{message}}</span> 
            {{/if}} 
            {{{body}}}
        </main>
    </div>
    <script src="/js/jq.js"></script>
    <script src="/js/js.js"></script>
</body>

</html>