<h1>Here are your memes</h1>
<div class="container">
    {{#each memes}}
        <div class="meme">
            <a href="/getDetails/{{_id}}">
            <img class="memePoster" src="{{url}}"/>          
        </div>
    {{/each}}
</div>