<header>
    <div class="inner">
        <nav>
            <a href="/" class="logo"><img class="logo" src="/static/images/expressjs-card.png" alt="expressLogo"></a>
            <input type="checkbox" id="nav" /><label for="nav"></label>
            <ul>
                <li><a href="/addBook">Add Book</a></li>
                <li><a href="/viewAll">View All Books</a></li>
            </ul>
        </nav>
    </div>
</header>