<form class="form center-form" action="/user/login" method="POST">
    <h2>Login</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="input-field" name="username" value="{{user.username}}">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="input-field" name="password">
    </div>
    <div class="form-group">
        <input class="form-btn btn" type="submit" value="Login">
    </div>
</form>