<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Express Retake Exam January 2019</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/site.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container">
        {{> header}}

        {{#if message}}
            <h4>{{message}}</h4>
        {{/if}}
        <main>
            {{{body}}}
        </main>
        {{> footer}}
    </div>
</body>
</html>