<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© 2019
        <a href="https://softuni.bg/trainings/2255/expressjs-fundamentals-january-2019">Express Fundamentals</a>
    </div>
</footer>