<ul class="menu">
    <li>
        <a href="/">Home</a>
    </li>
    {{#if currentUser}}
    <li class="userWelcome">Welcome, {{currentUser.username}}</li>
    <li>
        <a href="/user/logout">Logout</a>
    </li>
    {{else}}
    <li>
        <a href="/user/register">Register</a>
    </li>
    <li>
        <a href="/user/login">Login</a>
    </li>
    {{/if}}
</ul>