<div class="login-page">
  <div class="form">
    <h3>Add category: </h3>
    <form action="/category/add" method="POST" class="create-form">
        <input type="text" name="name" placeholder="name">
      <button type="submit">Create</button>
    </form>
  </div>
</div>