<h2>Create tweet:</h2>
<form action="/tweet/create" method="POST">
    <p>Message:</p>
    <textarea name="message" cols="35" rows="7">{{currentMessage}}</textarea>
    <input type="submit" value="Create">
</form>