<h2>List</h2>

{{#each threads}}
    {{> thread thread=this isAdmin=../isAdmin }}
{{else}}
<p>No available threads.</p>
{{/each}}

{{#if prev}}
    <a href="/thread/list/?page={{prev}}"><button>Prev</button></a>
{{/if}}

{{#if next}}
    <a href="/thread/list/?page={{next}}"><button>Next</button></a>
{{/if}}