<form action="/user/register" method="POST">
    <h2>Register</h2>
    <label>
        <span>Username</span>
        <input type="text" name="username" value="{{user.username}}" />
    </label>
    <label>
        <span>Password</span>
        <input type="password" name="password" value="{{user.password}}" />
    </label>
    <input type="submit" value="Register" />
</form>