<header>
    {{#if currentUser}}
        <span>Welcome, {{currentUser.email}}!</span>
        <a href="/user/logout">[Logout]</a>
    {{else}}
        <a href="/user/login">Login</a>
        <a href="/user/register">Register</a>
    {{/if}}
</header>