<h1>Create Team</h1>
<div class="form">
    <form action="/team/create" method="POST">
        <label>Team Name</label>
        <input type="text" name="name" value="{{name}}">
        <input type="submit" value="Create">
    </form>
</div>