<form action="/image/create" method="POST">
    <label>
        <span>ImageUrl: </span>
        <input type="text" name="imageUrl" value={{imageUrl}}>
    </label>
    <br>
    <br>
    <label>
        <span>Description: </span>
        <textarea name="description" cols="30" rows="3">{{description}}</textarea>
    </label>
    <br>
    <br>
    <input type="submit" value="Create">
</form>